<div nz-row class="py-2 footer" style="margin:0px 100px">
  <div nz-col nzSpan="6">
    <h5>Contact Information</h5>
    <span class="small-text">
      <h6> (+977) 9868606268</h6>
      <h6> (+977) 07644444</h6>
    </span>
  </div>
  <div nz-col nzSpan="6">
    <h5>Customer Support</h5>
    <h6>Frequent questions</h6>
    <h6>Shipping & Returns</h6>
    <h6>Contact Us</h6>
  </div>
  <div nz-col nzSpan="6">
    <h5>legal warning</h5>
    <h6>Terms of use</h6>
    <h6>Conditions of contract </h6>
    <h6>Cookies policy</h6>
  </div>
  <div nz-col nzSpan="6">
    <h5>Follow US</h5>
    <i nz-icon nzType="facebook" nzTheme="fill"></i>
    <i nz-icon nzType="twitter-square" nzTheme="fill"></i>
    <i nz-icon nzType="linkedin" nzTheme="fill"></i>
    <i nz-icon nzType="instagram" nzTheme="fill"></i>
  </div>
</div>
