  <div nz-row class="banner-title primary-bg py-5 justify-content-center" style="margin-top: 55px">
    <div  class="flex-column" style="margin-bottom: 55px;">
      <h1 class="text-white py-5">FOOTWEAR</h1>
      <nz-breadcrumb  nzSeparator=">">
        <nz-breadcrumb-item>
          Home
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>Catalog</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Shoes
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
<app-banner-feature></app-banner-feature>
