  <div nz-row class="nav primary-bg px-2 py-1 text-white box-shadow primary-bg fixed w-100 items-center">
    <div nz-col nzSpan="8">
      <div class="d-flex items-center">
        <a href="">
          <i nz-icon nzType="search"></i>
        </a>
        <a href="">
          <i nz-icon class="px-3" nzType="menu"></i>
        </a>
        <a routerLink="/">
          <h4 class="text-white">
            Cateogry
          </h4>
        </a>
      </div>
    </div>
    <div nz-col nzSpan="8" class="d-flex justify-content-center">
      <a routerLink="/">
        <h3 class="text-white">Ecommerce</h3>
      </a>
    </div>
    <div nz-col nzSpan="8" class="justify-content-end d-flex">
      <div class="px-2">
        <i nz-icon nzType="user" nzTheme="outline"></i>
      </div>
      <div class="px-2">
        <a routerLink="/cart-details">
          <app-cart-status></app-cart-status>
        </a>
      </div>
    </div>
  </div>

  <app-banner-title></app-banner-title>
