<div class="wrapper primary-bg justify-content-center box-shadow">
  <div nz-row style="
  background:linear-gradient(5deg, #ffffffcc, #ffffff2b);
  ">
    <div nz-col nzSpan="16" class="feature-new">
      <span class="new">new</span>
      <div class="divider py-1"></div>
      <br>
      <div class="text-white">NEW ARRIVAL</div>
      <h1 class="text-white">Comfortable Shoes</h1>
      <button class="my-btn box-shadow" nz-button nzTheme="light">More Info</button>
    </div>
    <div nz-col nzSpan="8" class="feature-sale">
      <span class="new">sale</span>
      <div class="divider py-1"></div>
      <br>
      <div class="text-white">DIGITAL WATCH</div>
      <h1 class="text-white">Sale Collection <br>2020</h1>
      <button class="my-btn box-shadow" nz-button nzTheme="light">More Info</button>
    </div>
  </div>
  <app-filter></app-filter>
</div>
